.statusbar {
    height: @statusbar-height;
    //box-shadow: inset 0px 6px 8px -8px @color-statusbar-shadow;
    background-color: @color-statusbar-background;
    color: @color-statusbar-text;
    z-index: 1000;
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:400;
    -webkit-font-smoothing:antialiased;

    &:extend(.flex-container);
    &:extend(.flex-stretch);
    &:extend(.flex-row);
}

.statusbar-panel {
    min-width: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 10px;
    box-shadow: 3px 0px 3px -3px white;
}
